<!--
  ~ Copyright 2026 Jaydeep Sahu
  ~ Practice / learning project
  -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common-head('Add Items')}">
</head>

<body>

<div class="container mt-4">

    <form th:action="@{/ui/orders/{id}/items(id=${orderId})}" method="post">


        <div class="sticky-top bg-light border-bottom" style="z-index: 1020;">

            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center p-1">
                <h3 class="mb-0">Add Items to Order</h3>

                <div>
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-cart-plus"></i> Add to Order
                    </button>

                    <a th:href="@{/ui/orders/{id}(id=${orderId})}"
                       class="btn btn-secondary ms-2">
                        Cancel
                    </a>
                </div>
            </div>

            <!-- Search (future) -->
            <div class="pt-0 pb-1">
                <input class="form-control"
                       type="search"
                       placeholder="Search item by category or name"
                       aria-label="Search">
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Qty</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item, stat : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <input type="number"
                           class="form-control-sm"
                           min="0"
                           value="0"
                           th:name="__${item.itemId}__"/>
                </td>
            </tr>
            </tbody>
        </table>

    </form>
</div>

</body>
</html>
